{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<main class="main">

    <!-- Hero Section -->
    {% include 'includes/hero.html' %}
    <!-- /Hero Section -->

    <!-- About Section -->
    {% include 'includes/about.html' %}
    <!-- /About Section -->

  
    <!-- Skills Section -->
    {% include 'includes/skills.html' %}
    <!-- /Skills Section -->

    <!-- Resume Section -->
    {% include 'includes/resume.html' %}
    <!-- /Resume Section -->

    <!-- Portfolio Section -->
    {% include 'includes/portfolio.html' %}
    <!-- /Portfolio Section -->


    <!-- Contact Section -->
    {% include 'includes/contact.html' %}
    <!-- /Contact Section -->

</main>  

{% endblock main_content %}
