{% load static %}
<section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Resume</h2>
       
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" >

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BS in Data Science &amp; Applications</h4>
              <h5>2022 May - 2026 May</h5>
              <p><em>Indian Institute of Technology, Madras, India</em></p>
              <p>2022 - 2023 : <strong>Foundation in Data Science</strong></p>
              <p>2023 - 2024 : <strong>Diploma in Programming</strong></p>
              <p>2024 - 2025 : <strong>Diploma in Data Science</strong></p>
            </div>
            <!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>St Paul's sr. sec. School, Sirohi(Raj), India </h4>
              <p>2017 - 2018 Class 10th : <strong>9.6 CGPA</strong></p>
              <p>2019 - 2020 Class 12th : <strong>75%</strong></p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
              <ul>
                <li>Multivendor Ecommerce Platform : <a href="">link here</a></li>
                <li>Library Management System : <a href="">link here</a></li>
                <li>Click Mart Ecommerce : <a href="">link here</a></li>
                <li>Blog Project : <a href="">link here</a></li>
                <li>School Management System : <a href="">link here</a></li>
                <li>Health Care Premium Prediction App : <a href="">link here</a></li>
                <li>Machine learning Project : <a href="">link here</a></li>
              </ul>
            </div><!-- Edn Resume Item -->
          </div>

        </div>

      </div>

</section>