 {% load static %}
 <!-- Skills Section -->
<section id="skills" class="skills section light-background">
    <!-- Section Title -->
    <div class="container section-title">
    <h2>Skills</h2>
    <p>Technologies and tools I work with</p>
    </div>

    <div class="container">
    <div class="row g-4 justify-content-center">
        <!-- Skills Grid -->
        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/html.png' %}" alt="HTML" class="img-fluid mb-3" style="height: 80px;">
            <h6>HTML</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/css.png' %}" alt="CSS" class="img-fluid mb-3" style="height: 80px;">
            <h6>CSS</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/js.png' %}" alt="JavaScript" class="img-fluid mb-3" style="height: 80px;">
            <h6>JavaScript</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/java.png' %}" alt="Java" class="img-fluid mb-3" style="height: 80px;">
            <h6>Java</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/python.png' %}" alt="Python" class="img-fluid mb-3" style="height: 80px;">
            <h6>Python</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/dsa.png' %}" alt="Data Structures and Algorithms" class="img-fluid mb-3" style="height: 80px;">
            <h6>Data Structures and Algorithms</h6>
        </div>
        </div>
        

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/django.png' %}" alt="Django" class="img-fluid mb-3" style="height: 80px;">
            <h6>Django</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/drf.png' %}" alt="Django Rest Framework" class="img-fluid mb-3" style="height: 80px;">
            <h6>DRF</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/git.png' %}" alt="Git" class="img-fluid mb-3" style="height: 80px;">
            <h6>Git</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/github.png' %}" alt="GitHub" class="img-fluid mb-3" style="height: 80px;">
            <h6>GitHub</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/numpy.png' %}" alt="NumPy" class="img-fluid mb-3" style="height: 80px;">
            <h6>NumPy</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/pandas.png' %}" alt="Pandas" class="img-fluid mb-3" style="height: 80px;">
            <h6>Pandas</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/postgresql.png' %}" alt="PostgreSQL" class="img-fluid mb-3" style="height: 80px;">
            <h6>PostgreSQL</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/mysql.png' %}" alt="MySQL" class="img-fluid mb-3" style="height: 80px;">
            <h6>MySQL</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/sqlite.png' %}" alt="SQLite" class="img-fluid mb-3" style="height: 80px;">
            <h6>SQLite</h6>
        </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
        <div class="skill-item text-center p-3">
            <img src="{% static 'assets/img/linux.png' %}" alt="Linux" class="img-fluid mb-3" style="height: 80px;">
            <h6>Linux</h6>
        </div>
        </div>


    </div>
    </div>
</section>
<!-- /Skills Section -->